.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

}

#button {
  width: 60px;
  background-color: aquamarine;
  border: 2px solid rgb(32, 125, 94);
  border-radius: 15px;
  padding: 10px 20px 10px;
}

.box {
  height: 100px;
  width: 100PX;
  background-color: rgb(94, 218, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2px;
}

.box:hover {
  background-color: rgb(70, 161, 155);
}